/* Additional Styles for The Events Calendar */

h4.entry-title.summary {
  font-size:28px;
  margin-top:16px;
  margin-bottom:6px;
  padding-left:0;
  padding-top:12px;
  border-top: 1px solid #dedede;
}

.tribe-events-event-image {
  margin-top:18px;
  margin-bottom:18px;
}
/* Single Event Pages */

.single-tribe_events .tribe-events-single-event-title {
	font-size:32px;
}

.single-tribe_events .entry {
	border:none;
}
.single-tribe_events .tribe-events-schedule h2 {
	display:inline;
	font-family: 'Open Sans', 'Lato', 'Helvetica', 'Arial', sans-serif;
	font-size:1.2em;
	vertical-align: middle;
}
.single-tribe_events .tribe-events-cal-links {
  margin-left:20px;
  margin-right:20px;
}

.single-tribe_events .tribe-country-name::before {
  display:table;
  content: "";
}

.single-tribe_events .tribe-events-gmap::before {
  display:table;
  content: "";
}
.single-tribe_events .site-inner .wrap {
	margin-bottom:60px !important;
}

.single-tribe_events .tribe-events-schedule {
	margin: .5em 0;
}

.single-tribe_events .tribe-events-schedule h3 {
	font-family: 'Open Sans Condensed', 'Lato', Helvetica, sans-serif;
	font-weight:700;
	font-size:20px;
}

/*Events Page Layout Fixes */

#tribe-events-pg-template {
  max-width:960px;
  padding:40px 30px;
  background-color:#fff;
}

#tribe-events .tribe-events-content p, 
.tribe-events-after-html p, 
.tribe-events-before-html p {
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 20px;
	line-height: 1.7;
}


#tribe-events-pg-template .tribe-events-content h2, 
.tribe-events-after-html h2, 
.tribe-events-before-html h2 {
	font-size:32px;
}

h2.tribe-events-page-title{
	font-size:32px;
	font-weight:400;
}

h3.tribe-events-related-events-title {
	font-size:28px;
}

#tribe-events-pg-template .tribe-events-content h3, 
.tribe-events-after-html h3, 
.tribe-events-before-html h3 {
	font-size:28px;
}

#tribe-events-pg-template .tribe-events-content h4, 
.tribe-events-after-html h4, 
.tribe-events-before-html h4 {
	font-size:24px;
}

#tribe-events-pg-template .tribe-events-content h5, 
.tribe-events-after-html h5, 
.tribe-events-before-html h5 {
	font-size:18px;
}

#tribe-events-pg-template .tribe-events-content ul,
#tribe-events-pg-template .tribe-events-content ol {
	padding-left:40px;
}

#tribe-events-pg-template .tribe-events-content ol li, 
#tribe-events-pg-template .tribe-events-content ul li, 
.tribe-events-after-html ol li, 
.tribe-events-after-html ul li, 
.tribe-events-before-html ol li, 
.tribe-events-before-html ul li {
	margin:0;
}

#tribe-events-pg-template .tribe-events-content ul li::before {
	content: "\f105";
	color: #e96d5d;
    font-family: fontawesome;
	padding-right: 10px;
	margin-left:-28px;
}

#tribe-events-pg-template .tribe-events-content h3, .tribe-events-after-html h3, .tribe-events-before-html h3 {
  font-size:28px;
}

.tribe-events-venue-meta h2.entry-title {
  font-size:32px;
}

.tribe-events-meta-group .tribe-events-single-section-title {
font-size: 24px;
font-weight:400;
}